@import '@/common/styles/_variables.scss';

.mobile-nav{
  position: fixed;
  z-index:  1002;
  min-height: 100vh;
  background: $white-color;
  padding: 2rem 1rem 0rem 2rem;
  right:0;

  .title{
    display: flex;
    font-size: 18px; 
    justify-content: space-between;
    align-items: center;
    width: 10rem;
    margin-bottom:1rem
  }

  .quick-link{
    display: flex;
    flex-direction: column;
    gap:1rem
  }
}

#hero {
  background-color: #f1f3ff;
  min-height: 30vh;

  svg{
    fill: $primary-color;
  }
}

.header-nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem $base-x-spacing 0rem $base-x-spacing;

  .quick-link a{
    margin: 0px 1rem;
  }

  .hamburger {
    display: none;
  }
}

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;

  .left{
    margin: auto;
    font-weight: $font-weight-bold;
    margin-left: $base-x-spacing;
    width: 70%;

    h1{
      font-size: 36px;
      line-height: 54px;
    }

    p{
      padding: 1rem 0rem;
      line-height: 20px;
    }
  }

  .right{
    text-align: right;
    width: 100%;

    img{
      width: 704px;
      position: relative;
      z-index: 2;
    }

    svg{
      position: absolute;
      top: 15.8rem;
      right: 0;
      width:704px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .header-nav{
    padding: 1.5rem;

    .quick-link a{
      display: none;
    }

    .hamburger {
      display: block;
      z-index: 1000;
    }
  }

  .hero-section {
    display: block;
    
    .left{
      margin:1rem;
      width: 95%;
    }

    .right{
      img{
        width:344.22px;
      }

      svg{
        width:344.22px; 
        top: 31.8rem;
        height: 118.81px;
      }
    }
  }
}
