* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
  font-family: Arial;
}

.btn {
  background-color: #5cb85f;
  border: none;
  color: white;
  border-radius: 5px;
  font-weight: 700;
  padding: 0.5rem 0.8rem;
  font-size: 15px;
}

h3{
  font-weight: 700;
  font-size: 24px;
}

#hero {
  background-color: #f1f3ff;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem 12rem 0rem 12rem;
}

.header-nav .quick-link a {
  margin: 0px 1rem;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.hero-section .left {
  margin: auto;
  font-weight: 700;
  margin-left: 12rem;
  width: 70%;
}

.hero-section .left h1 {
  font-size: 36px;
  line-height: 54px;
}

.hero-section .left p {
  padding: 1rem 0rem;
  line-height: 20px;
}

.hero-section .right {
  text-align: right;
  width: 100%;
}

.hero-section .right img {
  width: 704px;
  position: relative;
  z-index: 2;
}

.hero-section .right svg {
  position: absolute;
  top: 15.8rem;
  right: 0;
}

#our-services {
  display: flex;
  justify-content: space-between;
  padding: 5rem 12rem;
}

#our-services .left {
  width: 100%;
  text-align: left;
}

#our-services .left #green-circle {
  position: absolute;
  left: 7rem;
}

#our-services .left #red-circle {
  position: absolute;
  left: 33rem;
  margin-top: 4rem;
}

#our-services .left #yellow-circle {
  position: absolute;
  left: 10rem;
  margin-top: 21rem;
}

#our-services .right {
  width: 100%;
  margin: auto;
  font-weight: 700;
}

#our-services .right p:not(.service-list p) {
  padding: 1rem 0rem;
}

#our-services .right p span {
  vertical-align: middle;
  padding-right: 0.8rem;
}

#our-services .service-list p {
  padding: 0.5rem 0rem;
  user-select: none;
  cursor: pointer;
}

#why-us{
  padding: 5rem 12rem;
}

#why-us p{
  padding: 1rem 0rem;
  font-weight: 700;
}

#why-us .list-item{
  display:flex;
  width: 100%;
  margin-top: 2rem;
  gap: 2rem;
}

#why-us .list-item .item{
  border: 1px solid #D0D0D0;
  padding: 2rem;
  border-radius:10px;
  max-width: 25%;
}
#why-us .list-item .item .item-icon{
  width:35px
}

#why-us .list-item .item .item-title{
  font-size:18px;
}




















