* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
  font-family: Arial;
}

.btn {
  background-color: #5cb85f;
  border: none;
  color: white;
  border-radius: 5px;
  font-weight: 700;
  padding: 0.5rem 0.8rem;
  font-size: 15px;
}

#hero {
  background-color: #f1f3ff;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem 12rem 0rem 12rem;
}

.header-nav .quick-link a {
  margin: 0px 1rem;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.hero-section .left {
  margin: auto;
  font-weight: 700;
  margin-left: 12rem;
  width: 70%;
}

.hero-section .left h1 {
  font-size: 36px;
  line-height: 54px;
}

.hero-section .left p {
  padding: 1rem 0rem;
  font-size: 14px;
  line-height: 20px;
}

.hero-section .right {
  text-align: right;
  width: 100%;
}

.hero-section .right img {
  width: 704px;
  position: relative;
  z-index: 2;
}

.hero-section .right svg {
  position: absolute;
  top: 15.8rem;
  right: 0;
}
