@import '@/common/styles/_variables.scss';

#items{
  margin:$base-spacing;
  display: flex;
  gap:2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.no-cars-found{
  text-align: center;
  margin-bottom: 6rem;
}
