// Colors
$primary-color: #0D28A6;
$secondary-color: #0074d9;
$success-color: #5cb85f;
$success-color-hover: #C9E7CA;
$success-color-bold:#35B0A7;
$white-color: #FFFFFF;

// Fonts
$font-family: Arial;
$font-weight-bold: 700;

// Spacing
$base-x-spacing: 12rem;
$base-y-spacing: 5rem;
$base-spacing: $base-y-spacing $base-x-spacing;
$border-radius: 10px;
$box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
