@import '@/common/styles/_variables.scss';

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
  font-family: $font-family;
}

.title-bx{
  font-weight: $font-weight-bold;
}

.title-bx h3{
  font-size: 24px;
}

.title-bx h1{
  font-size: 36px;
  line-height: 54px;
}

.title-bx p{
  padding: 1rem 0rem;
}
