@import '@/common/styles/_variables.scss';

details{
  cursor: pointer;
  border: 1px solid #D4D4D4;
  padding: 1rem 2rem;
  border-radius: 10px;
  font-weight: $font-weight-bold;

  > summary{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;

    &::-webkit-details-marker {
      display: none;
    }
  }

  > p{
    margin-top: 2rem;
  }
}

