@import '@/common/styles/_variables.scss';
@import '@/common/styles/_mixin.scss';

.btn {
  @include bgColor($success-color);
  border: none;
  color: $white-color;
  border-radius: 5px;
  font-weight: $font-weight-bold;
  padding: 0.5rem 0.8rem;
  font-size: 15px;
  cursor: pointer;
}

.btn-secondary{
  @include bgColor($white-color);
  border: 1px solid $primary-color;
  color: $primary-color;
}
