@import '@/common/styles/_variables.scss';

.btn {
  background-color: $success-color;
  border: none;
  color: $white-color;
  border-radius: 5px;
  font-weight: $font-weight-bold;
  padding: 0.5rem 0.8rem;
  font-size: 15px;
}

.btn-secondary{
  border: 1px solid $primary-color;
  background-color: $white-color;
  color: $primary-color;
}
