.btn {
  background-color: #5cb85f;
  border: none;
  color: white;
  border-radius: 5px;
  font-weight: 700;
  padding: 0.5rem 0.8rem;
  font-size: 15px;
}

.btn-secondary{
  border: 1px solid #0D28A6;
  background-color: #FFFFFF;
  color: #0D28A6;
}
