#our-services {
  display: flex;
  justify-content: space-between;
  padding: 5rem 12rem;

  .left{
    width: 50%;
    text-align: center;

    #green-circle{
      position: absolute;
      left: 12rem;
    }

    #red-circle{
      position: absolute;
      left: 38rem;
      margin-top: 4rem;
    }

    #yellow-circle{
      position: absolute;
      left: 15rem;
      margin-top: 21rem;
    }
  }

  .right{
    width: 45%;
    margin: auto;
    font-weight: 700;

    p{
      span{
        vertical-align: middle;
        padding-right: 0.8rem;
      }
    }
  }

  .service-list{
    p{
      padding: 0.5rem 0rem;
      user-select: none;
      cursor: pointer;
    }
  }
  
}
