#our-services {
  display: flex;
  justify-content: space-between;
  padding: 5rem 12rem;

  .left{
    width: 50%;
    text-align: center;

    #green-circle{
      position: absolute;
      left: 12rem;
    }

    #red-circle{
      position: absolute;
      left: 38rem;
      margin-top: 4rem;
    }

    #yellow-circle{
      position: absolute;
      left: 15rem;
      margin-top: 21rem;
    }
  }

  .right{
    width: 45%;
    margin: auto;
    font-weight: 700;

    p{
      span{
        vertical-align: middle;
        padding-right: 0.8rem;
      }
    }
  }

  .service-list{
    p{
      padding: 0.5rem 0rem;
      user-select: none;
      cursor: pointer;
    }
  }
  
}

@media only screen and (max-width: 768px) {
  #our-services {
    display: block;
    margin: 2rem 1rem;
    padding: 1rem;

    .left{
      width: 100%;
      margin-bottom: 2rem;

      img{
        width: 199.26px; 
      }

      #green-circle{
        position: absolute;
        left: 4rem;
        margin-top:-2rem;
        width: 71px;
      }

      #red-circle{
        position: absolute;
        left: 20rem;
        margin-top: 4rem;
      }

      #yellow-circle{
        position: absolute;
        left: 5rem;
        margin-top: 11rem;
      }

    }
    .right{
      width: 100%;
    }
  }
}
